.carouselBar{
    padding: 7px auto;
    height: 65px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #F5F5F5 ;
    color: black;
    border-bottom: 1px solid #eeeeee;
    margin: 0px;
    padding: 5px;
}

.tag{
    margin: 0px;
}
@media only screen and (max-width: 1024px) {
    .carouselBar{
        width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    .carouselBar{
        padding: 0px 40px;
        width: 100%;
    }
    input[type=text]{
        width: 20px;
    }
  }